<div class="pull-left">

<% unless current_user_subscribed? %>
<%= link_to new_subscription_path, class: "btn btn-primary btn-sm", style: "margin-right: 5px;" do %>
Subscribe <span class="badge badge-default">$9.00</span>


<% end %>

<% end %>

<%= link_to "Donate", "/", class: "btn btn-primary btn-sm" %>

<%= link_to "/", class: "btn btn-primary btn-sm" do %>
<span class="fa fa-heart" aria-hidden="true"></span> I like This

<% end %>
<%= link_to "Share", "/", class: "btn btn-link btn-sm" %>

<ul class="nav nav-pills float-right">

            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= User.subs_count %>
<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1,000
          </ul>
</div>


<div class="pull-right">



</div>

<div class="clearfix"></div>
